<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        div{
            text-align: center;
            size: 10pt
        }
        span{
            font-size: 30pt
        }

    </style>
</head>
<body>
    <h1> Your Doc Man</h1>
    <div>
      <a href="/login/">
          <span>login</span> </a>
   </div>
   <div>
        <a href="/signup/">
            <span>signup</span> </a>
     </div>
     
    
</body>
</html>